<div class="gender">
  <h2>Selectionnez ce qui vous correspond le mieux:</h2>
  <div class="genderCards">
    <ion-radio-group [(ngModel)]="gender">
      <ion-item>
        <ion-label>Homme</ion-label>
        <ion-radio slot="start" (click)="getGender('homme')" value="homme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Femme</ion-label>
        <ion-radio slot="start" (click)="getGender('femme')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Enfant</ion-label>
        <ion-radio slot="start" (click)="getGender('enfant')" value="enfant"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
  <div class="besoin">
    <div *ngIf="gender=='femme'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Champoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Broching</ion-label>
        <ion-radio slot="start" (click)="getBesoin('broching')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Soin</ion-label>
        <ion-radio slot="start" (click)="getBesoin('soin')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Couleur classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('couleur classique')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mèches</ion-label>
        <ion-radio slot="start" (click)="getBesoin('meches')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Lissage</ion-label>
        <ion-radio slot="start" (click)="getBesoin('lissage')" value="enfant"></ion-radio>
      </ion-item>
    </div>
    <div *ngIf="gender=='homme'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Champoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Couleur</ion-label>
        <ion-radio slot="start" (click)="getBesoin('couleur')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Barbe</ion-label>
        <ion-radio slot="start" (click)="getBesoin('barbe')" value="enfant"></ion-radio>
      </ion-item>

    </div>
    <div *ngIf="gender=='enfant'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Champoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Chignon</ion-label>
        <ion-radio slot="start" (click)="getBesoin('chignon')" value="enfant"></ion-radio>
      </ion-item>
    </div>
  </div>
  <div *ngIf="besoins.length > 0" class="rdv">

    <ion-radio-group [(ngModel)]="rdv">

      <ion-list-header>
        <h3>Rendez-vous</h3>
      </ion-list-header>

      <ion-item>
        <ion-label>Aujourd'hui</ion-label>
        <ion-radio slot="start" (click)="getRdv('auj')" value="auj"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Demain</ion-label>
        <ion-radio slot="start" (click)="getRdv('dem')" value="dem"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Autre jour</ion-label>
        <ion-radio slot="start" (click)="displayDatePicker()" value="autre"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </div>

  <div *ngIf="rdv == 'auj' || rdv == 'dem'" class="rdv">

    <ion-radio-group [(ngModel)]="heure">

      <ion-list-header>
        <h3>Choisssez votre horraire</h3>
      </ion-list-header>

      <ion-item>
        <ion-label>9h</ion-label>
        <ion-radio slot="start" (click)="getHeure('9h')" value="9h"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>9h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('9h30')" value="9h30"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>10h</ion-label>
        <ion-radio slot="start" (click)="getHeure('10h')" value="10h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>10h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('10h30')" value="10h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>11h</ion-label>
        <ion-radio slot="start" (click)="getHeure('11h')" value="11h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>11h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('11h30')" value="11h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>13h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('13h30')" value="13h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>14h</ion-label>
        <ion-radio slot="start" (click)="getHeure('14h')" value="14h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>14h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('14h30')" value="14h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>15h</ion-label>
        <ion-radio slot="start" (click)="getHeure('15h')" value="15h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>15h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('15h30')" value="15h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>16h</ion-label>
        <ion-radio slot="start" (click)="getHeure('16h')" value="16h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>16h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('16h30')" value="16h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>17h</ion-label>
        <ion-radio slot="start" (click)="getHeure('17h')" value="17h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>17h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('17h30')" value="17h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>18h</ion-label>
        <ion-radio slot="start" (click)="getHeure('18h')" value="18h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>18h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('18h30')" value="18h30"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>19h</ion-label>
        <ion-radio slot="start" (click)="getHeure('19h')" value="19h"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>19h30</ion-label>
        <ion-radio slot="start" (click)="getHeure('19h30')" value="19h30"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </div>
  <div *ngIf="rdv == 'autre'">

  </div>
</div>